/* .App {
  text-align: center;
} */
.selectstyle {
  background: #ffffff;
  border: 1px solid #dde3ed;
  box-sizing: border-box;
  border-radius: 4px;
  /*text*/
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #afbacc;
}
.selectstyle:focus {
  background: #ffffff;
  border: 2px solid #1f61f7;
  box-sizing: border-box;
  border-radius: 4px;
  /*text*/
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #1f61f7;
}
.selectstyle:focus option{
  color: black;
}

.buttonSeguro {
  display: flex;
  flex-direction: row;
  padding: 8px 32px;
  width: 113px;
  height: 48px;
  background: #1f61f7;
  box-shadow: 0px 10px 16px rgba(18, 25, 84, 0.07);
  border-radius: 1000px;
  /*texto*/
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
