
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.cardSeguro {
  width: 328px;
  height: 272px;
  background: #ffffff;
  border: 1px solid #dde3ed;
  border-radius: 8px;
}
.cardSeguro img {
  width: 328px;
  height: 192px;
}
.cardSeguro h2 {
  width: 216px;
  height: 24px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #060b25;
}
.cardSeguro p {
  width: 51px;
  height: 24px;
  font-family: Poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #58606e;
}
